
@{
	// helper to generate a base path which is also valid on home (special DNN behaviour)
	var randomxyz = "this-should-never-exist-in-the-url";
	var basePath = Link.To(parameters: randomxyz + "=1");
	basePath = basePath.Substring(0, basePath.IndexOf(randomxyz));
}

<base href="@basePath">

<div class="sc-element">
	@Edit.Toolbar()
	<app-root>loading...</app-root>
</div>
<script src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>
<script type="text/javascript" src="@App.Path/dist/inline.bundle.js"></script>
<script type="text/javascript" src="@App.Path/dist/polyfills.bundle.js"></script>
<script type="text/javascript" src="@App.Path/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="@App.Path/dist/main.bundle.js"></script>
